# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtualenv
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# DB and runtime
app.db
*.sqlite3
*.log

# Images / OCR temp
tmp/
cache/

__pycache__/
.env
.venv/
*.sqlite3
*.db
*.pyc
.ipynb_checkpoints/
.idea/
.vscode/
venv/