__pycache__/
.env
.venv/
*.sqlite3
*.db
*.pyc
.ipynb_checkpoints/
.idea/
.vscode/
venv/
uploads/
# SSH keys and sensitive files
*.pem
*.key
id_rsa
id_rsa.pub
*.pub
seqwe
seqwe.pub

# Environment files
.env